---
import Layout from "../layouts/Layout.astro";
import Container from "../components/Container.astro";
import PrivacyPolicySection from "../components/PrivacyPolicySection.astro";
---

<Layout>
  <Container class="py-20 sm:py-32">
    <div class="mx-auto max-w-2xl sm:text-center">
      <h1 class="text-3xl font-medium tracking-tight text-neutral-900">Política de Privacitat</h1>
      <p class="mt-2 text-sm text-neutral-600">Última actualització: 2024-11-18</p>
    </div>

    <ul role="list" class="mt-16 space-y-10">
      <PrivacyPolicySection title="Introducció">
        <p>
          A <strong>Transporta'm</strong>, respectem la teva privacitat i ens comprometem a complir amb el Reglament
          General de Protecció de Dades (RGPD) i altres normatives aplicables. Aquesta política explica com gestionem
          les teves dades personals.
        </p>
      </PrivacyPolicySection>
      <PrivacyPolicySection title="Recollida de dades">
        <p>
          <strong>Transporta'm</strong> no recull, emmagatzema ni processa cap informació personal dels usuaris. La
          nostra aplicació està dissenyada per funcionar sense necessitat de dades personals.
        </p>
      </PrivacyPolicySection>
      <PrivacyPolicySection title="Compliment de les normatives europees">
        <p>
          Ens comprometem a complir amb totes les normatives europees rellevants, incloent-hi el RGPD. Atès que no
          recollim ni processem dades personals, no cal sol·licitar el teu consentiment ni implementar mesures
          addicionals per al tractament de dades.
        </p>
      </PrivacyPolicySection>
      <PrivacyPolicySection title="Enllaços a tercers">
        <p>
          La nostra aplicació no conté enllaços ni integra serveis de tercers que puguin recollir dades personals.
        </p>
      </PrivacyPolicySection>
      <PrivacyPolicySection title="Canvis en la política">
        <p>
          Ens reservem el dret de modificar aquesta política de privacitat per assegurar el compliment de noves
          regulacions o per raons operatives. T'informarem de qualsevol canvi publicant una versió actualitzada en
          aquesta pàgina.
        </p>
      </PrivacyPolicySection>
      <PrivacyPolicySection title="Contacte">
        <p>
          Si tens preguntes o dubtes sobre aquesta política de privacitat, pots contactar-nos a:
        </p>
        <p>
          <span>Correu electrònic: <a href="mailto:hello@transportam.cat" class="text-primary underline">hello@transportam.cat</a></span>
        </p>
      </PrivacyPolicySection>
    </ul>
  </Container>
</Layout>
