---
import Container from "./Container.astro";
import ReviewsGrid from "./ReviewsGrid.vue";
---

<section
  id="reviews"
  aria-labelledby="reviews-title"
  class="pt-20 pb-16 sm:pt-32 sm:pb-24"
>
<Container>
  <h2 id="reviews-title" class="text-3xl font-medium tracking-tight text-neutral-900 sm:text-center">
    Millora l'experiència al transport públic amb Transporta'm.
  </h2>
  <p class="mt-2 text-lg text-neutral-600 sm:text-center">
    El transport públic a temps real a un mateix lloc i accessible per tothom.
  </p>
  <ReviewsGrid client:only="vue" />
</Container>
</section>
