---
import Layout from "../../layouts/Layout.astro";
import Container from "../../components/Container.astro";

export const prerender = false;

const {path} = Astro.params;

const {deeplink = `transportam://${path}`} = Astro.props;
---

<Layout>
  <Container class="flex flex-col items-center justify-center py-20 sm:py-32 text-center gap-6">
    <svg class="w-10 h-10 animate-spin" viewBox="0 0 50 50" fill="none" xmlns="http://www.w3.org/2000/svg">
      <circle cx="25" cy="25" r="20" stroke="#e5e7eb" stroke-width="5" fill="none" />
      <path fill="none" stroke="currentColor" stroke-width="5" stroke-linecap="round" stroke-dasharray="31.4 188.4" d="M25 5 a20 20 0 0 1 0 40 a20 20 0 0 1 0 -40" class="text-primary" />
    </svg>

    <h1 class="text-xl font-semibold">S’està obrint l’app Transportam...</h1>
    <p class="text-gray-600">Si no s’obre automàticament, potser no tens l’app instal·lada.</p>

    <a class="inline-flex justify-center rounded-lg py-2 px-3 text-sm font-semibold transition-colors bg-neutral-800 text-white hover:bg-neutral-900 active:bg-neutral-800 active:text-white/80" href="/download">Descarregar</a>
  </Container>
</Layout>

<app-opener data-deeplink={deeplink} />

<script>
  class AppOpener extends HTMLElement {
    connectedCallback() {
      window.location.href = String(this.dataset.deeplink);
    }
  }

  customElements.define('app-opener', AppOpener);
</script>
